In [84]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.22.4 in ./.venv/lib/python3.10/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [133]:
# !{sys.executable} -m pip install hdfs

11077.73s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Collecting hdfs
  Downloading hdfs-2.7.3.tar.gz (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.5/43.5 kB 814.6 kB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting docopt (from hdfs)
  Downloading docopt-0.6.2.tar.gz (25 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting requests>=2.7.0 (from hdfs)
  Using cached requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: six>=1.9.0 in ./.venv/lib/python3.10/site-packages (from hdfs) (1.16.0)
Collecting charset-normalizer<4,>=2 (from requests>=2.7.0->hdfs)
  Downloading charset_normalizer-3.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from requests>=2.7.0->hdfs)
  Using cached idna-3.4-py3-none-any.whl (61 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.7.0->hdfs)
  Downloading urllib3-2.0.7-py3-none-any.whl.metadata (6.6 kB)
Collecting certifi>=2017.4.17 (from requests>=2.7.0->hdfs)
  Using cached certifi-2023.7.22-py3-none-any.whl.metadata (2.2 kB)
Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Using cached certifi-2023.7.22-py3-none-any.whl (158 kB)
Downloading charset_normalizer-3.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (142 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 142.1/142.1 kB 1.8 MB/s eta 0:00:00a 0:00:01
Downloading urllib3-2.0.7-py3-none-any.whl (124 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 124.2/124.2 kB 1.5 MB/s eta 0:00:00a 0:00:01
Building wheels for collected packages: hdfs, docopt
  Building wheel for hdfs (pyproject.toml) ... done
  Created wheel for hdfs: filename=hdfs-2.7.3-py3-none-any.whl size=34325 sha256=ca5e24efa814a2662921112a3889f1dc863cb2aaa888c752a1f6bdbf54af7507
  Stored in directory: /home/denis/.cache/pip/wheels/e5/8d/b6/99c1c0a3ac5788c866b0ecd3f48b0134a5910e6ed26011800b
  Building wheel for docopt (pyproject.toml) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13706 sha256=fcd6212d0a01c5fdd0ebeadcce633518431490fa7f9a1872a27f5470cd193d9b
  Stored in directory: /home/denis/.cache/pip/wheels/fc/ab/d4/5da2067ac95b36618c629a5f93f809425700506f72c9732fac
Successfully built hdfs docopt
Installing collected packages: docopt, urllib3, idna, charset-normalizer, certifi, requests, hdfs
Successfully installed certifi-2023.7.22 charset-normalizer-3.3.2 docopt-0.6.2 hdfs-2.7.3 idna-3.4 requests-2.31.0 urllib3-2.0.7

In [85]:
import pandas as pd

In [120]:
def add_group(df):    
    backet_size = len(df)/10
    df['group'] = ""
    for group in range(10):
        start = int(group*backet_size)
        end = int(backet_size*(group+1))
        df.loc[start:end,'group'] = group

# Загрузка файлов

## Customers

In [197]:
customers_df = pd.read_csv('csv_files/customers.csv', index_col='Index', sep=',')

In [198]:
customers_df.index.rename('index', inplace=True)

In [199]:
customers_df.columns = customers_df.columns.str.lower().str.replace(' ', '_')

In [215]:
customers_df['year'] = pd.to_datetime(customers_df.subscription_date, format ='%Y-%M-%d').dt.year

In [203]:
add_group(customers_df)

In [216]:
customers_df.head()

,customer_id,first_name,last_name,company,city,country,phone_1,phone_2,email,subscription_date,website,year,group
index,,,,,,,,,,,,,
1,ffeCAb7AbcB0f07,Dawn,Trevino,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,clintongood@example.org,2021-11-11,https://www.mccarthy.info/,2021,0
2,b687FfC4F1600eC,Dale,Mcknight,Mckay PLC,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,clairebradshaw@example.org,2021-05-14,http://www.reynolds.com/,2021,0
3,9FF9ACbc69dcF9c,Herbert,Bean,Marks and Sons,Kimbury,Barbados,8252703789,459-916-7241x0909,johnnybooker@example.org,2021-03-17,https://neal.com/,2021,0
4,b49edDB1295FF6E,Karen,Everett,"Kirby, Vaughn and Sanders",Briannaview,Antarctica (the territory South of 60 deg S),425.475.3586,(392)819-9063,wkhan@example.org,2020-09-23,https://www.powell-bryan.com/,2020,0
5,3dcCbFEB17CCf2E,Angela,Shea,Lester-Manning,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,reginaldgarner@example.com,2020-09-18,https://www.carrillo.com/,2020,0

In [230]:
customers_df.year.unique()

array([2021, 2020, 2022], dtype=int32)

## organization

In [204]:
organization_df = pd.read_csv('csv_files/organizations.csv', index_col='Index', sep=',')

In [205]:
organization_df.index.rename('index', inplace=True)

In [206]:
organization_df.columns = organization_df.columns.str.lower().str.replace(' ', '_')

In [207]:
add_group(organization_df)

In [231]:
organization_df.founded.unique()

array([2019, 2005, 1982, 2016, 1978, 2008, 2000, 1990, 2014, 1992, 1980,
       2012, 1984, 1991, 2003, 1971, 1985, 1998, 1977, 2015, 1987, 1997,
       1994, 2002, 2013, 1999, 2020, 2009, 1989, 2010, 2007, 2001, 1996,
       1979, 1986, 1970, 2022, 1974, 2006, 2018, 1988, 1976, 1995, 1981,
       1983, 2017, 1993, 1975, 2021, 2011, 1972, 1973, 2004])

## people

In [208]:
people_df = pd.read_csv('csv_files/people.csv', index_col='Index', sep=',')

In [209]:
people_df.index.rename('index', inplace=True)

In [210]:
people_df.columns = people_df.columns.str.lower().str.replace(' ', '_')

In [238]:
people_df['year'] = pd.to_datetime(people_df.date_of_birth, format ='%Y-%M-%d').dt.year

In [240]:
people_df['sex'] = people_df['sex'].str.lower()

In [211]:
add_group(people_df)

In [241]:
people_df.tail()

,user_id,first_name,last_name,sex,email,phone,date_of_birth,job_title,group,year
index,,,,,,,,,,
99996,eDbebb82Bdf859c,Eduardo,Fuentes,male,zacharygalloway@example.net,971-408-5795x791,2015-09-02,"Designer, graphic",9,2015
99997,78B30216f7Ad5eA,Marcus,Ferguson,male,qkane@example.org,001-183-966-1623x446,1978-01-30,Cytogeneticist,9,1978
99998,E0edBf053adCEc1,Marilyn,Benson,male,jenny91@example.com,3010820886,1939-07-11,Engineering geologist,9,1939
99999,fA585A02f6A86C5,Felicia,Robbins,female,imcneil@example.com,(753)522-4673,1942-02-05,Clinical cytogeneticist,9,1942
100000,FE35edEdE3BaC90,Jackie,Doyle,male,emay@example.net,357.974.5692x909,1918-05-30,"Teacher, special educational needs",9,1918

In [242]:
people_df.sex.isnull().sum()

0

### Сохранение

In [228]:
import os 
os.makedirs('out_csv', exist_ok=True)
people_df.to_csv('out_csv/people_df.csv', sep="\t", header=False)
organization_df.to_csv('out_csv/organization_df.csv',  sep="\t", header=False)
customers_df.to_csv('out_csv/customers_df.csv',  sep="\t", header=False)

In [158]:
# from hdfs import InsecureClient
# client = InsecureClient('http://localhost:50070')

In [ ]:
# client.write('/user/denis/peaople_df.csv', data='people_df.csv')

In [219]:
customers_df.head()

,customer_id,first_name,last_name,company,city,country,phone_1,phone_2,email,subscription_date,website,year,group
index,,,,,,,,,,,,,
1,ffeCAb7AbcB0f07,Dawn,Trevino,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,clintongood@example.org,2021-11-11,https://www.mccarthy.info/,2021,0
2,b687FfC4F1600eC,Dale,Mcknight,Mckay PLC,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,clairebradshaw@example.org,2021-05-14,http://www.reynolds.com/,2021,0
3,9FF9ACbc69dcF9c,Herbert,Bean,Marks and Sons,Kimbury,Barbados,8252703789,459-916-7241x0909,johnnybooker@example.org,2021-03-17,https://neal.com/,2021,0
4,b49edDB1295FF6E,Karen,Everett,"Kirby, Vaughn and Sanders",Briannaview,Antarctica (the territory South of 60 deg S),425.475.3586,(392)819-9063,wkhan@example.org,2020-09-23,https://www.powell-bryan.com/,2020,0
5,3dcCbFEB17CCf2E,Angela,Shea,Lester-Manning,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,reginaldgarner@example.com,2020-09-18,https://www.carrillo.com/,2020,0